{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}

<div class="main-container">
    <div class="header-text">
        <span>Privacy Policy for mkink.com</span>
<div class="body-content">
            <p>At mlink.com, accessible from mlink.com, one of our main priorities is the privacy of our visitors. <br> This Privacy Policy document contains types of information that is collected and recorded by mlink.com and how we use it. <br>
     If you have additional questions or require more information about our Privacy Policy, do not hesitate to
            contact us. <br>This Privacy Policy applies only to our online activities and is valid for visitors to our website with
            regards to the information <br>that they shared and/or collect in vittuko.blogspot.com. This policy is not
            applicable to any information collected offline <br>or via channels other than this website.</p>
            <span>Consent</span>
            <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
            <span>Information we collect</span>
            <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it,
                will be made clear <br> to you at the point we ask you to provide your personal information. If you contact us directly, we may receive additional <br>
                 information about you such as your name, email
                address, phone number, the contents of the message and/or attachments <br>you may send us, and any other
                information you may choose to provide. When you register for an Account, we may ask for your <br> contact information, including items such as name,
                company name, address, email address, and telephone number.</p>
            <span>How we use your information</span>
            <p> <strong>We use the information we collect in various ways, including to:</strong>
                Provide, operate, and maintain our website
                Improve, personalize, <br> and expand our website
                Understand and analyze how you use our website
                Develop new products, services, features, and functionality <br>
                Communicate  with you, either directly or through one of our partners, including for customer service, to
                provide you with updates and <br> other information relating to the website, and for marketing and
                promotional purposes
                Send you emails
                Find and prevent fraud</p>
            <span>log files</span>
            <p>mlink.com follows a standard procedure of using log files. These files log visitors when they
                visit websites. All hosting <br> companies do this and a part of hosting services' analytics. The information
                collected by log files include internet protocol <br>(IP) addresses, browser type, Internet Service Provider
                (ISP), date and time stamp, referring/exit pages, and possibly <br>the number of clicks. These are not
                linked to any information that is personally identifiable. The purpose of the information <br>is for
                analyzing trends, administering the site, tracking users' movement on the website, and gathering
                demographic information.
            </p>
            <span>Changes to This Privacy Policy
            </span>
            <p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically
                for any changes. <br> We will notify you of any changes by posting the new Privacy Policy on this page. These
                changes are effective immediately, after they are posted on this page.
            </p>
            <span>Contact Us
            </span>
            <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us please.
            </p>
            <span></span>
        </div>

    </div>


</div>
<style>
    .main-container {
        background: black;


    }

    .header-text p {

        margin-left: 20px;

        color: rgb(168, 164, 164);
    }
    span{
        color: rgb(25, 122, 122);
         font-size: 1.2rem;
         margin-left: 12px;
         font-weight: bold;
    }
</style>

{% endblock %}